#topo {
    background-color: $blue_sec_color;
    min-height: 735px;
    border-top: solid 6px #2d6fa0;
    h1 {
        font-size: 44.61px;
        margin-top: 10%;
        font-family: $lato_font;
        letter-spacing: -2px;
        font-style: $font_italic;
        font-weight: $bold_italic;
    }
    h2 {
        font-family: $lato_font;
        font-size: 22px;
        color: $subtit_color;
        font-weight: $bold_italic;
        letter-spacing: -1px;
        margin-top: 0;
    }
    h3 {
        font-family: $lato_font;
        font-size: 20px;
        font-style: $font_italic;
        font-weight: $light_italic;
        margin-top: 20%;
    }
    h4 {
        font-family: $lato_font;
        font-size: 17.68px;
    }
}

.google-partner{
    h3{
    padding-left:32px;
    margin-bottom:5%;
        
    }
       
}

.contatos{
    p{
      display:inline;  
    font-size:12px; 
        font-family:$lato_font;
        font-weight:$light_italic;
    }
    
    
}
.aw5-logo{margin-right:24px; margin-left:34px;}

.form{
    
}
.formulario{
    padding-left:20px; padding-right:20px;
    min-height:462px;
    background-color:$fundo_form;
    @include box-shadow-form(3px 3px 4px 0px rgba(0, 0, 0, 0.37));
    h4{color:#fff; padding-top:20px;
        
    }
     .container{width:100%;}
    textarea{min-height:194px;}
    
}