#topo{
background-color:$blue_sec_color; height:735px;
border-top:solid 6px #2d6fa0;
    h1{font-size:44.61px; font-family:$lato_font; letter-spacing:-2px; font-style:$font_italic; font-weight:$bold_italic;}
    h2{font-family:$lato_font; font-size:22px; color:$subtit_color;}
    h3{font-family:$lato_font; font-size:20px; font-style:$font_italic;}
    h4{font-family:$lato_font; font-size:17.68px;}
}

