


#conheca-nossa-consultoria-ecommerce{
background-color:#323231;
    
    h2{
      font-family:$lato_font;
        font-size:35px;
        font-style:$font_italic;
        font-weight:$bold_italic;
        color:#fff;
        margin-top:90px;
       
        
    }
    
    h3{
    color:#fff;
    font-size:19px;    
     font-family:$font_open_sans;
        font-weight:$bold_italic;
        
        
    }
    
    img{
    margin-top:97px;    
        
    }
    
    
    
}

.seta{
 padding-bottom:70px;
background:url(../images/seta.png) no-repeat left 10px;
    margin: 90px auto 0 auto;
    .bt-cl-action{
    width:299px!important;
        &:hover{
        color:#fff;
        text-decoration:none;    
        }    
    }  
    
}

#depoimentos{
background:url(../images/fundo-depoimentos.jpg)  top center;
    margin-top:-20px;
    min-height:597px;
    h2{
     font-family:$lato_font;
        font-size:35px;
        font-style:$font_italic;
        font-weight:$bold_italic;
        margin-left:50px;
        margin-top:86px;
        margin-bottom:90px;
        
    }
    
}

.a-melhor-agencia{
background:#1d5486 url(../images/bg-a-melhor-agencia.jpg);
min-height:583px;
    
    
    
}


.depoimento{
    
    
    
    margin-bottom:15%;
    
    figure{
        
   
    text-align:center; 
    padding-bottom:5%;
    }
    img{
    
       
        
    } 
    
    p{
    font-family:$lato_font;
    font-size:19px;
        font-style:$font_italic;
        line-height:26px;
        
    }
    small{
    @extend p;
    font-size:14px;
    display:block;
    clear:right; 
        
        
    }
    
    
}



