//Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


//Variáveis
$font-stack: Helvetica, sans-serif;


//Reset

*{margin: 0; padding:0;}





